<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="ServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap3" />
                <binding name="LoginCmsSoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                contract="WebServices.WSAA.LoginCMS" name="LoginCms" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="WebServices.WSFE.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap2"
                contract="WebServices.WSFE.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding2"
                contract="WebServices.WSAA.LoginCMS" name="LoginCms1" />
        </client>
    </system.serviceModel>
</configuration>