<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MTXCAServiceSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="MTXCAServiceSoap11Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://serviciosjava.afip.gob.ar/wsmtxca/services/MTXCAService"
                binding="basicHttpBinding" bindingConfiguration="MTXCAServiceSoap11Binding"
                contract="WebServices.WSMTXCA.MTXCAServicePortType" name="MTXCAServiceHttpSoap11Endpoint" />
        </client>
    </system.serviceModel>
</configuration>