<?xml version="1.0"?>

<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MTXCAServiceSoap11Binding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="DameCotizacionPublicoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms"
                      binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                      contract="WebServices.WSAA.LoginCMS" name="LoginCms" />
            <!--<endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
          binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
          contract="WebServices.WSAA.LoginCMS" name="LoginCms" />-->
            <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
                      binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                      contract="WebServices.WSFE.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://ws.generali.com.ar/Cotizador/DameCotizacionPublico.asmx"
                      binding="customBinding" bindingConfiguration="DameCotizacionPublicoSoap12"
                      contract="Generali.DameCotizacionPublicoSoap" name="DameCotizacionPublicoSoap12" />
            <!--<endpoint address="https://serviciosjava.afip.gob.ar/wsmtxca/services/MTXCAService"
          binding="basicHttpBinding" bindingConfiguration="MTXCAServiceSoap11Binding"
          contract="WebServices.WSMTXCA.MTXCAServicePortType" name="MTXCAServiceHttpSoap11Endpoint" /> -->
            <endpoint address="https://fwshomo.afip.gov.ar/wsmtxca/services/MTXCAService"
                      binding="basicHttpBinding" bindingConfiguration="MTXCAServiceSoap11Binding"
                      contract="WebServices.WSMTXCA.MTXCAServicePortType" name="MTXCAServiceHttpSoap11Endpoint" />
        </client>
    </system.serviceModel>
    <appSettings>
        <add key="Modules" value="" />
        <add key="NewVersionServer" value="" />
        <add key="EnableDiagnosticActions" value="True" />
        <add key="FileAttachmentBasePath" value="~\documentos" />
        <add key="Languages" value="es" />
    </appSettings>
    <connectionStrings>
        <!--
		*** Use the following connection string to connect to a database on the Microsoft SQL Server Express:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=Core"/>
		-->
        <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		-->
        <!--<add name="ConnectionString" connectionString="User ID=sa;Password=7130rmaf$;Pooling=false;Data Source=insco.fd-it.com;Initial Catalog=Core" />-->
        <add name="ConnectionString"
             connectionString="User ID=sa;Password=7130RMaf;Pooling=false;Data Source=dev1.fd-it.com,1433;Initial Catalog=Core" />
        <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=Core.mdb;Mode=Share Deny None;"/>
		-->
    </connectionStrings>
    <system.diagnostics>
        <switches>
            <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
            <add name="eXpressAppFramework" value="4" />
            <!--
			<add name="XPO" value="3" />
			-->
        </switches>
    </system.diagnostics>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>