<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="User ID=sa;Password=7130rmaf$;Pooling=false;Data Source=insco.fd-it.com;Initial Catalog=Core" />-->
    <add name="ConnectionString" connectionString="User ID=sa;Password=7130RMaf;Pooling=false;Data Source=(Local);Initial Catalog=Core" />
  </connectionStrings>
</configuration>